*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {

    background-color: rgb(25, 56, 233);

}

main{
    background-color: rgba(244, 248, 4, 0.938);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.541);
}